#main-wrapper {
  min-height: 600px;
  width: 350px;
  align-self: center;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
}

#tasks {
  background-color: #ff6d1f;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  padding: 20px;
}
