.task {
  background-color: #f5e7c6;
  height: 40px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 12px;
}

.task > button {
  height: 30px;
  width: auto;
  padding: 5px;
  background-color: #ff6d1f;
  border: none;
  border-radius: 6px;
  color: black;
}

.task > button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid white;
}
