#add-task-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

#add-task-wrapper > button {
  background-color: #222222;
  color: white;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 6px;
  border: none;
}

#add-task-wrapper > button:hover {
  border: 2px solid #ff6d1f;
  color: #ff6d1f;
  cursor: pointer;
}

input {
  border: none;
  background-color: #ff6d1f;
  min-height: 35px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
